.service-page {
    width: 100vw;
    height: 100%;
    min-width: 320px;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 5;
    
    &__title {
        
        width: 90%;
        max-width: 600px;
        min-width: 280px;
        color: $service-page-title-fc;
        font-family: $page-ff;
        font-size: $service-page-title-fs;
        
        text-decoration: underline;
        margin-top:80px;
        margin-bottom: 30px;
    }
    &__poster {
        width: 90%;
        transform: skewX(2deg);
        filter: grayscale(100%);
        margin-bottom: 20px;
         
    }
    &__services {
        animation: 0.8s ease-in 0s normal forwards 1 opacity-animation-slide-in;
        width: 80%;
        max-width: 600px;
        min-width: 260px;
        height: 100%;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        
    }
    &__service {
         animation: 1.5s ease-in 0s normal forwards 1 opacity-animation-fade-in;
        width: 90%;
        max-width: 600px;
        min-width: 260px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding: 10px;
        margin-bottom: 50px;
        transform: skewX(2deg);
        
        border-bottom: 1px solid $service-page-service-border;
        border-top: 1px solid $service-page-service-border;
    }
    &__info {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 10px;
        
    }
    &__number-of-service {
        
        font-family: $page-ff;
        font-size: $service-number-fs;
        color: $why-akcent-fc;
        font-weight: bolder;
        
    }
    &__name {
        width: 100%;
        
        color: $service-page-name-fc;
        font-family: $service-page-name-ff;
        font-size: $service-page-name-fs;
        margin-bottom:8px;
        text-shadow: 1px 1px 1px black;
    }
    &__description {
        width: 100%;
        
        color: $service-page-description-fc;
        font-family: $service-page-description-ff;
        font-size: $service-page-description-fs;
        font-style: italic;
        margin-bottom: 6px;
    }
    &__icon {
        height: 40px;
        
    }
   
    &__technology {
        width: 80%;
        max-width: 600px;
        min-width: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }
    &__subtitle {
        width: 100%;
        max-width: 600px;
        min-width: 280px;
        color: $service-page-subtitle-fc;
        font-family: $page-ff;
        font-size: $service-page-subtitle-fs;
        
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    &__instruments {
        width: 90%;
        max-width: 600px;
        min-width: 280px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__instrument {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;
        height: 40px;
        width: 40px;
        overflow: hidden;
        border-radius: 50%;
        border-image: linear-gradient(to right, #b861c6 0%,#ffc7c7 100%);
        border-image-slice: 1;
        border-width: 3px;
    }
    &__button {
        cursor: pointer;
        width: 90%;
        max-width: 580px;
        min-width: 280px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-top: 4px;
        padding-bottom: 4px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: $main-button-ff;
        font-size: $service-page-button-fs;
        color: $service-page-button-fc;
        
        text-shadow: 1px 1px 1px hsla(276, 0%, 0%, 0.7);
        background: hsla(195, 100%, 0%, 0);
        border-image: linear-gradient(to right, #b861c6 0%,#ffc7c7 100%);
        border-image-slice: 1;
        border-width: 1px; 
    }
}