$sphere-size: 30vmin;

@mixin absolutely {
  position: fixed;
  top:0;right:0;bottom:60%;left:0;
  margin:  auto;
}

#canvas {
    position: fixed;
  z-index: 0;
  display: block;
  width: 100vw;
  height: 100vh;
}
.sphere {
    
  @include absolutely();
  width: $sphere-size;
  height: $sphere-size;
  animation: spinSphere 20s infinite linear;
  transform-style: preserve-3d;
    z-index:0;
}

[class^="ring"] {
  @include absolutely();
  width: $sphere-size;
  height: $sphere-size;
  border-radius: 80%;
  overflow: hidden;
}


@for $i from 1 through 36 {
  [class$="#{$i}"] {
    transform: rotateY($i * 9deg) rotateX($i*9deg) rotateZ($i * 3deg);
    box-shadow:0 0 (1px + ($i * 2)) rgba((255 - ($i * 2)),(170 - round($i * .5)),(45 * round($i / 3)), 0.1), inset 0 0 (1px + ($i * 2)) rgba((255 - ($i * 2)),(170 - round($i * .5)),(45 * round($i / 3)), 0.1);
  }
} 

@keyframes spinSphere {
  from {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateZ(360deg) rotateX(-360deg) rotateZ(360deg);
  }
}