
$preloader-font-color : hsla(0, 100%, 100%, 1);
$title-font-color: hsla(0, 100%, 100%, 1);
$font-color: hsla(0, 100%, 100%, 0.9);
$main-button-fc: hsla(0, 100%, 100%, 0.9);
$service-page-title-fc: hsla(200, 100%, 86%, 0.95);
$service-page-name-fc: hsla(0, 100%, 100%, 0.95);
$service-page-description-fc: hsla(200, 100%, 86%, 0.7);
$service-page-subtitle-fc: hsla(200, 100%, 86%, 0.95);
$service-page-button-fc: hsla(200, 100%, 86%, 0.95);
$why-page-title-fc: hsla(0, 100%, 100%, 1);
$why-akcent-fc: hsla(181, 100%, 45%, 0.9);
$why-button-left-fc: hsla(0, 100%, 100%, 0.9);
$why-button-right-fc: hsla(292, 47%, 58%, 1);
$why-page-subtitle-fc:  hsla(181, 100%, 45%, 1);
$why-page-description-fc:hsla(0, 100%, 100%, 0.7);
$header-menu-fc: hsla(0, 100%, 100%, 0.9);
$contacts-input-fc :hsla(181, 100%, 45%, 0.9);

$preloader-ff: 'Bebas Neue', sans-serif;
$header-ff:'Bebas Neue', sans-serif;
$page-ff:'Bebas Neue', sans-serif;
$main-button-ff : 'Bebas Neue', sans-serif;
$service-page-name-ff:  'Bebas Neue', sans-serif;
$service-page-description-ff:'Cuprum', sans-serif;
$why-button-ff:'Bebas Neue', sans-serif;
$why-page-subtitle-ff: 'Cuprum', sans-serif;

$preloader-second-title-fs:200px;
$preloader-first-title-fs:22px;
$header-mobile-logo-fs:30px;
$header-mobile-menu-fs: 14px;
$main-title-fs: 40px;
$main-button-fs: 26px;
$service-page-title-fs: 48px;
$service-page-name-fs: 32px;
$service-page-description-fs:14px;
$service-page-subtitle-fs: 28px;
$service-page-button-fs: 26px;
$why-page-title-fs: 60px;
$why-akcent-fs: 80px;
$why-button-fs:16px;
$why-page-subtitle-fs:32px;
$why-subakcent-fs:50px;
$why-page-name-fs:36px;
$why-description-akcent-ff:26px;
$why-page-description-fs:14px;
$contacts-link-fs:50px;
$contacts-form-title-fs: 26px;
$contacts-page-input-fs:20px;

$service-page-service-bg: hsla(270, 100%, 3%, 0.25);
$service-page-service-border: hsla(0, 100%, 100%, 0.9);